@page "/product/{id:int}"
@inject ProductService ProductService

@if(product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <img src="@product.Image" class="img-fluid w-50" alt="@product.Title"/>
        </div>
        <div class="col-md-6">
            <h2>@product.Title</h2>
            <p>@product.Description</p>
            <p><strong>Price: $@product.Price</strong></p>
            <button class="btn btn-success">Add to Cart</button>
        </div>
    </div>
}



@code{
    [Parameter]
    public int id {get; set;}
    private Product product;

    protected override async Task OnParametersSetAsync()
    {
        product = await ProductService.GetProductById(id);
    }
    
}